{% extends 'layout.twig' %}

{% block body %}
  <div class="container">
    <nav class="level">
      <p class="level-item has-text-centered box">
        <a class="link is-info">Home</a>
      </p>
      <p class="level-item has-text-centered box">
        <a class="link is-info">Doc</a>
      </p>
      <p class="level-item has-text-centered box">
        <a class="link is-info">Forum</a>
      </p>
      <p class="level-item has-text-centered box">
        <a class="link is-info">Search</a>
      </p>
      <p class="level-item has-text-centered box">
        <a class="link is-info">Register</a>
      </p>
      <p class="level-item has-text-centered box" style="margin-bottom:24px">
        <a class="link is-info">Login</a>
      </p>
    </nav>
  </div>

  <script>
  /*
  new Vue({
    delimiters: ['{(', ')}']
  })
  */
  </script>
{% endblock %}